.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 5px solid darkgoldenrod;
  font-size: 35px;
  color: darkgoldenrod;
}

button:hover:before,
button:hover:after {
  background: #fff;
  transition: 0.2s;
}

button:hover {
  color: #fff;
  background-color: darkgoldenrod;
  transition: 0.2s;
}